<%- include('../template/head')-%>

<body>
  <!-- dividing 1 rows nad 2 columns -->
  <div class="content-box">
    <!-- this is for menubar -->
    <%- include('../template/sidebar')-%>
    <!-- this is for contents -->
    <div class="maincontentbox d-inline-block mx-auto">
      <%- include('../template/menubar')-%>

      <!-- Selling overview -->
      <div class="mx-4 overflow-hidden">
        <div id="content-wrapper">
          <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Accounts</li>
            </ol>
            <!-- Page Content -->
            <!-- DataTables Example -->
            <div class="mx-4 overflow-hidden">
              <%- include('../template/modals')-%>

              <!-- DataTables Example -->
              <div class="card mb-3">
                <div class="card-header primary-background text-white">
                  <i class="fa fa-table"></i>
                  Accounts
                  <a
                    href="#"
                    class="text-white"
                    data-bs-toggle="modal"
                    data-bs-target="#addExpenseAccountModal"
                  >
                    <span class="float-end">
                      <i class="fa fa-plus"></i>
                      Add New Expense Account
                    </span>
                  </a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-hover table-bordered"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th>Acc#</th>
                          <th>Account Title</th>
                          <th>Amount</th>
                          <th>Transactions Made</th>
                          <th>Last updated</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Acc#</th>
                          <th>Account Title</th>
                          <th>Amount</th>
                          <th>Transactions Made</th>
                          <th>Last updated</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                        <tr>
                          <td>9989846565546</td>
                          <td>Akhtar Hotel</td>
                          <td>&#2547;680</td>
                          <td>9</td>
                          <td>06/10/2018</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted">
                  Updated yesterday at 11:59 PM
                </div>
              </div>
            </div>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>

    <!-- Add product modal -->
    <!-- <div
      class="modal fade"
      id="addProductModal"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
     
    </div> -->
    <!-- Floating Button -->
    <button
      type="button"
      class="btn calendar-btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="fas fa-calendar-alt calendar-icon"></i>
    </button>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker">February</span>
              <div class="year-picker">
                <span class="year-change" id="prev-year">
                  <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
            <div class="calendar-body">
              <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="calendar-days"></div>
            </div>
            <!-- <div class="calendar-footer">
                <div class="toggle">
                    <span>Dark Mode</span>
                    <div class="dark-mode-switch">
                        <div class="dark-mode-switch-ident"></div>
                    </div>
                </div>
            </div> -->
            <div class="month-list"></div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../template/footer')-%>
  </div>
</body>
