<%- include('../template/head')-%>

<body>
  <!-- dividing 1 rows nad 2 columns -->
  <div class="content-box">
    <!-- this is for menubar -->
    <%- include('../template/sidebar')-%>
    <!-- this is for contents -->
    <div class="maincontentbox d-inline-block mx-auto">
      <%- include('../template/menubar')-%>
      <!-- Selling overview -->
      <div class="mx-4 overflow-hidden">
        <div id="content-wrapper">
          <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">About</li>
            </ol>
            <!-- Page Content -->
            <!-- DataTables Example -->
            <div class="mx-4 overflow-hidden">
              <div class="row m-4 g-0">
                <div class="col-6">
                  <div class="about-container">
                    <div class="content">
                      <h1>Sohidul Islam Shufol</h1>
                      <h3>I am a web developer</h3>
                      <p><span>Phone: </span>01854107699</p>
                      <p><span>Email: </span>sishufol.sim@gmail.com</p>
                      <p><span>Facebook: </span>facebook/sishufol</p>
                    </div>
                    <div class="flap"></div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="about-container">
                    <div class="content">
                      <h1>Nusrat Jahan Woni</h1>
                      <h3>I am a web developer</h3>
                      <p><span>Phone: </span>0185262645</p>
                      <p><span>Email: </span>nusratjahanwoni@gmail.com</p>
                      <p><span>Facebook: </span>facebook/nusratwoni</p>
                    </div>
                    <div class="flap"></div>
                  </div>
                </div>
              </div>
            </div>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn calendar-btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="fas fa-calendar-alt calendar-icon"></i>
    </button>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker">February</span>
              <div class="year-picker">
                <span class="year-change" id="prev-year">
                  <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
            <div class="calendar-body">
              <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="calendar-days"></div>
            </div>
            <!-- <div class="calendar-footer">
                <div class="toggle">
                    <span>Dark Mode</span>
                    <div class="dark-mode-switch">
                        <div class="dark-mode-switch-ident"></div>
                    </div>
                </div>
            </div> -->
            <div class="month-list"></div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../template/modals')-%> <%- include('../template/footer')-%>
  </div>
</body>
