<%- include('../template/head')-%>

  <body>
    <!-- dividing 1 rows nad 2 columns -->
    <div class="content-box">
      <!-- this is for menubar -->
      <%- include('../template/sidebar')-%>
      <!-- this is for contents -->
      <div class="maincontentbox d-inline-block mx-auto">
        <%- include('../template/menubar')-%>
        <!-- Selling overview -->
        <div class="mx-4 overflow-hidden">
          <div id="content-wrapper">
            <div class="container-fluid">
              <!-- Breadcrumbs-->
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Products</li>
              </ol>
              <!-- Page Content -->
              <!-- DataTables Example -->
           
                <div class="card mb-3">
                  <div class="card-header primary-background text-white">
                    <i class="fa fa-table"></i>
                History
                
                  </div>
                  <div class="card-body">
                   
                    <div class="table-responsive">
                      <table id="example" class="table table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>PID</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Brand</th>
                            <th>In-stock</th>
                            <th>Cost/item</th>
                            <th>Price/item</th>
                            <th>Inventory Worth</th>
                            <th>Vendor</th>
                            <th> </th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>PID</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Brand</th>
                            <th>In-stock</th>
                            <th>Cost/item</th>
                            <th>Price/item</th>
                            <th>Inventory Worth</th>
                            <th>Vendor</th>
                            <th> </th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <%data.forEach((entry)=>{%>
                          <tr>
                            <td><%=entry.pid%></td>
                            <td><%=entry.prod_n%></td>
                            <td><%=entry.prod_type%></td>
                            <td><%=entry.brand_n%></td>
                            <td><%=entry.stock%></td>
                            <td>&#2547;<%=entry.cost_p%></td>
                            <td>&#2547;<%=entry.selling_p%></td>
                            <td>&#2547;<%=entry.worth%></td>
                            <td><%=entry.v_name%></td>
                            <td><span class="btn-group "><a class="btn btn-outline-primary" href="/products/sales/<%=entry.pid%>"><i class="fas fa-cart-plus"></i></a><a class="btn btn-outline-success" href="/products/edit/<%=entry.pid%>"><i class="fas fa-edit"></i></a><a class="btn btn-outline-danger" href="/products/delete/<%=entry.pid%>"><i class="fas fa-trash-alt"></i></a></span></td>
                          </tr>
                          <%})%>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer small text-muted">
                    Updated yesterday at 11:59 PM
                  </div>
                </div>
           
              </div>
            </div>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn calendar-btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="fas fa-calendar-alt calendar-icon"></i>
    </button>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker">February</span>
              <div class="year-picker">
                <span class="year-change" id="prev-year">
                  <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
            <div class="calendar-body">
              <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="calendar-days"></div>
            </div>
            <div class="month-list"></div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../template/footer')-%>
