<%- include('../template/head')-%>

<body>
  <!-- dividing 1 rows nad 2 columns -->
  <div class="content-box">
    <!-- this is for menubar -->
    <%- include('../template/sidebar')-%>
    <!-- this is for contents -->
    <div class="maincontentbox d-inline-block mx-auto">
      <%- include('../template/menubar')-%>
      <!-- Selling overview -->
      <div class="mx-4 overflow-hidden">
        <div id="content-wrapper">
          <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Product Types</li>
            </ol>
            <!-- Page Content -->
            <div class="card mb-3">
              <div class="card-header primary-background text-white">
                <i class="fa fa-table"></i>
                Product Types
                <a href="#" class="text-white" data-bs-toggle="modal" data-bs-target="#addProductTypeModal">
                  <span class="float-end">
                    <i class="fa fa-plus"></i>
                    Add New Product Type
                  </span>
                </a>
              </div>
              <div class="card-body">
                <form class="d-flex">
                  <input id="myInput" onkeyup="myFunction()" class="form-control my-2" type="search"
                    placeholder="Search for brand" aria-label="Search">
                </form>
                <div class="table-responsive">
                  <table id="myTable" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>PTID</th>
                        <th>Product Type</th>
                        <th>Total Products</th>
                        <th>Brands</th>
                        <th>Vendors</th>
                        <th>Price Range</th>
                        <th>Inventory Worth</th>
                        <th>Profit</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>PTID</th>
                        <th>Product Type</th>
                        <th>Total Products</th>
                        <th>Brands</th>
                        <th>Vendors</th>
                        <th>Price Range</th>
                        <th>Inventory Worth</th>
                        <th>Profit</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                      <tr>
                        <td>66489</td>
                        <td>Mouse &amp; Pointing Devices</td>
                        <td><strong>7</strong> Variants with <strong>21</strong> items in stock</td>
                        <td>A4-Tech, Digilinks, DELL, HP, Apple</td>
                        <td>Anees Ahmad, Nouman Aslam, Haider Abbas, Mian Asim</td>
                        <td>&#2547;210-2200</td>
                        <td>&#2547;13635</td>
                        <td><span class="text-primary"><i class="fa fa-arrow-up"></i>12%</span>&#2547;1875</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted">
                Updated yesterday at 11:59 PM
              </div>
            </div>

          </div>
        </div>
        <br /><br /><br />
      </div>
    </div>
  </div>
  </div>

  <!-- Add product modal -->
  <!-- <div
      class="modal fade"
      id="addProductModal"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
     
    </div> -->
  <!-- Floating Button -->
  <button type="button" class="btn calendar-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fas fa-calendar-alt calendar-icon"></i>
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="calendar">
          <div class="calendar-header">
            <span class="month-picker" id="month-picker">February</span>
            <div class="year-picker">
              <span class="year-change" id="prev-year">
                <pre><</pre>
              </span>
              <span id="year">2021</span>
              <span class="year-change" id="next-year">
                <pre>></pre>
              </span>
            </div>
          </div>
          <div class="calendar-body">
            <div class="calendar-week-day">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div class="calendar-days"></div>
          </div>
          <!-- <div class="calendar-footer">
                <div class="toggle">
                    <span>Dark Mode</span>
                    <div class="dark-mode-switch">
                        <div class="dark-mode-switch-ident"></div>
                    </div>
                </div>
            </div> -->
          <div class="month-list"></div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../template/modals')-%>
  <%- include('../template/footer')-%>